<template name="Play">
  <div class="jumbotron">
    <p>
        {{#with scenario}}
            {{scenarioDescription}}
        {{/with}}

      <br/>
        {{#with npCharacter}}
          {{title}}
        {{/with}} 

        {{#with npCharacterRequest}} 
          {{title}} 
        {{/with}}



      <br/>
      <br/>
      <!--You Answer:-->

    <form id="playForm">


        {{#each playerResponses}}

          <div class="radio">
            <label>
              <input type="radio" name="playerResponsesRadio" value="{{objectCode}}">
                {{title}}
            </label>
          </div>


        {{/each}}
      <br/>
      <button id="playerResponseButton" class="btn btn-primary">Continue</button>

    </form>


    <br/>
    <br/>

    Waking Meter: {{userScore}}

    </p>

  </div>



</template>



